.foot {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    background-image: url("@/assets/footBg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    text-align: center;

    span {
        display: block;
        padding: 10px 0;
        font-size: 15px;
        color: #020202;
    }


    .imgwrap {
        .img {
            width: 100px;
            position: relative;
            transform: translate(450%, -20%);
        }
    }

}