.home-header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://ysr-resource-0205.oss-cn-chengdu.aliyuncs.com/uploads/781576e038c6ddb83cef61e418514c44.png");
    background-size: 100% 100%;

    .home-header-title {
        width: 100%;
        color: #fff;
        font-size: 30px;

        span {
            display: block;

            &:first-child {
                text-align: center;
                font-size: 60px;
                letter-spacing: 20px;
                transform: translate(-5%, 200%);
            }

            &:last-child {
                width: calc(100% - 300px) !important;
                width: fit-content;
                transform: translate(48%, 440%);
                position: relative;
                right: 80px;
            }
        }
    }
}

.home-content {
    text-align: center;

    &-title {
        margin: 24px 0;

        .c-title {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .desc {
        font-size: 20px;
        color: #000000;
    }

    .content-bg1 {
        width: 100%;
        height: 400px;
        background-image: url("https://ysr-resource-0205.oss-cn-chengdu.aliyuncs.com/uploads/41d98d3e4c6c868723f552350d0cb6b5.png");
        background-size: 100% 100%;
        overflow: hidden;

        .left-content {
            float: left;
            width: 30%;
            position: relative;
            left: 10%;
            height: 100%;
            text-align: left;
            line-height: 30px;
            color: #000000;
            font-size: 16px;
            transform: translateY(100px);
        }

        img {
            width: 50%;
            height: 100%;
            object-fit: contain;
            float: right;
        }
    }

    .content-bg2 {
        width: 100%;
        height: 400px;
        background-image: url("https://ysr-resource-0205.oss-cn-chengdu.aliyuncs.com/uploads/04225e035e09b52b47da53ca7ec06539.png");
        background-size: 100% 100%;
        overflow: hidden;

        img {
            width: 50%;
            height: 100%;
            object-fit: contain;
        }
    }

    .img-1 {
        width: 56%;
        object-fit: fill;

    }
}